APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=agora-signal-laravel
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"


AGORA_SDK_APP_ID=017d59a38e044ad4971bee195e3c614e555
AGORA_SDK_LIFETIME=86400555
AGORA_SDK_CERTIFICATE=9ddf4e10d6f24f01a070f86de93db898555
AGORA_SDK_ORG_NAME=611329830555
AGORA_SDK_APP_NAME=1532306555
AGORA_SDK_APP_URL=http://a61.chat.agora.io
CALLING_SERVICE_URL=http://localhost:3000

# AP_WEBSITE_URL="https://www.amiprobashi.com"
# AGORA_SDK_APP_ID="017d59a38e044ad4971bee195e3c614e555"
# AGORA_SDK_APP_KEY="611329830555#1532306555"
# AP_GATEWAY_URL="http://localhost:8000/api/agora"
# AP_GATEWAY_TOKEN="3|S2ZlF6YgeUjUpF9x3B7OGUI8cIjPY0rbPIL2jBtr555"
# AP_APP_URL="https://dev-call.amiprobashi.com"